<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}emberURL{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Exo:200,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" media="screen" />
    {% block headImport %}{% endblock %}
<body>
    {% block header %}
        <div id="header">
            <img id="emberLogo" src="/static/img/ember.png">
            <h1>emberURL</h1>

            <div id="loginbox">
                {% if username %}
                    Hello {{ username }}
                {% else %}
                    <a href="/login">login or register</a>
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block snippetspecial %}{% endblock %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}
    {% block tailImport %}{% endblock %}
</body>
</html>
