body {
    background-color: #2f2f2f;
    font-family: 'Exo', sans-serif;
    font-weight: 200;
}

::selection {
    background: #222;
    color: #fff;
}

a:link,
a:visited,
a:active {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    width: 540px;
    margin: 0 auto;
}

    #emberLogo {
        height: 64px;
        float: left;
        width: 50px;
    }

    h1 {
        font-family: 'Exo', sans-serif;
        font-weight: 900;
        float: left;
        margin: 28px 0 0 0;
        text-shadow: 0 0 5px rgba(255, 185, 81, 0.5);
    }

    #loginbox {
        color: #999;
        float: right;
        margin: 45px 0 0 0;
    }

        #loginbox a {
            color: #999;
        }

#content {
    background: #f28f27;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0,0,0,.5),
                0 0 35px rgba(0,0,0,.5);
    clear: both;
    margin: 0 auto 20px;
    padding: 20px;
    width: 500px;
}


/* GENERIC INPUT*/
input[type="text"],
input[type="password"],
select {
    background: #ddd;
    border: 1px solid #888;
    height: 30px;
    float: left;
    padding: 0 0 0 5px;
}

input[type="text"]:hover,
input[type="password"]:hover,
select:hover {
    border-color: #000;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    background: #fff;
    border-color: #000;
}


/* GENERIC BUTTON*/
button,
a.button,
input[type="submit"],
input[type="button"] {
    background: #888;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
    background-image:    -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
    background-image:     -ms-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
    background-image:      -o-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
    background-image:         linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
    border-radius: 4px;
    border: 0;
    display: block;
    float: left;
    font-family: 'Exo', sans-serif;
    font-size: 1.1em;
    font-weight: 200;
    list-style: none;
    padding: 5px 10px;
    text-shadow: 0 -1px 1px transparent,  0 1px 1px transparent;
}

button:hover,
a.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,.75),  0 1px 1px transparent;
}

button:active,
a.button:active,
input[type="submit"]:active,
input[type="button"]:active {
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
    background-image:    -moz-linear-gradient(bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
    background-image:     -ms-linear-gradient(bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
    background-image:      -o-linear-gradient(bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
    background-image:         linear-gradient(bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    text-shadow: 0 -1px 1px transparent,  0 1px 1px rgba(0,0,0,.35);
}

/* DELETE BUTTON */
.delete,
.deletePerm {
    float: left;
    background: #000;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .5);
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 24px;
    height: 20px;
    line-height: 23px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
}

.delete:hover,
.deletePerm:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .75);
    cursor: pointer;
}

.delete:active,
.deletePerm:active {
    box-shadow: 0 0 5px #000 inset;
    border-color: #ddd;
    color: #ddd;
    cursor: pointer;
}
