#create {
    font-size: 1.5em;
}

    #createInner {
        margin: 0 auto;
        text-align: left;
        width: 300px;
    }

        form {
            overflow: hidden;
        }

            div[style="display:none"] + p {
                display: none;
            }

            ul {
                clear: both;
                overflow: hidden;
                margin: 0 0 0 80px;
                padding: 0;
            }

                li,
                input[type="submit"] {
                    background: #888;
                    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
                    background-image:    -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
                    background-image:     -ms-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
                    background-image:      -o-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
                    background-image:         linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
                    border-radius: 4px;
                    border: 0;
                    display: block;
                    float: left;
                    list-style: none;
                    text-shadow: 0 -1px 1px transparent,  0 1px 1px transparent;
                }

                input[type="submit"] {
                    font-family: 'Exo', sans-serif;
                    font-size: 1.1em;
                    font-weight: 200;
                    margin-left: 80px;
                    padding: 5px 10px;
                }

                li:not(.highlight):hover,
                input[type="submit"]:hover {
                    box-shadow: 0 0 5px rgba(0,0,0,0.25);
                    cursor: pointer;
                    text-decoration: none;
                    text-shadow: 0 -1px 1px rgba(0,0,0,.75),  0 1px 1px transparent;
                }

                li:not(.highlight):active,
                input[type="submit"]:active {
                    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
                    background-image:    -moz-linear-gradient(bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
                    background-image:     -ms-linear-gradient(bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
                    background-image:      -o-linear-gradient(bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
                    background-image:         linear-gradient(bottom, rgba(255,255,255,.1) 0%, rgba(0,0,0,.1) 100%);
                    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
                    text-shadow: 0 -1px 1px transparent,  0 1px 1px rgba(0,0,0,.35);
                }

                li:first-child {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                li:last-child {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .highlight {
                    background: #444;
                    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
                    color: #fff;
                }

                    li label {
                        cursor: pointer;
                        display: block;
                        padding: 5px 10px;
                    }

                    .highlight label {
                        cursor: default;
                    }

                    li input {
                        display: none;
                    }

            p {
                overflow: hidden;
            }

                p label {
                    display: block;
                    float: left;
                    text-align: right;
                    padding-right: 10px;
                    width: 70px;
                }

                p input,
                p select {
                    width: 213px;
                }

                p select {
                    width: 220px;
                }

#myLinks {
    width: 540px;
    margin: 15px auto;
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    text-shadow: 0 0 5px rgba(255, 185, 81, 0.5);
}

#myLinks a {
    margin: 0 45px;
}

#notice {
    width: 540px;
    margin: 0 auto;
    color: #888;
}

#notice a {
    color: #888;
    text-decoration: underline;
}
