body {
    overflow: hidden;
}

button {
    display: none;
}

h2 {
    float: right;
    margin: 28px 5px 0 0;
    text-align: right;
    text-shadow: 0 0 5px rgba(255, 185, 81, 0.5);
}

#header-snippet {
    float: right;
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 98;
}

    #titleTextbox {
        background-color: #2f2f2f;
        border: none;
        float: left;
        font-family: 'Exo', sans-serif;
        font-size: 16pt;
        font-weight: 900;
        overflow: hidden;
        margin: 28px 10px 0 0;
        text-align: right;
        text-overflow: ellipsis;
        text-shadow: 0 0 5px rgba(255, 185, 81, 0.5);
        white-space: nowrap;
    }

    #titleTextbox:hover {
        background-color: #444;
    }

    #titleTextbox:focus {
        background-color: #444;
        outline: none;
    }

    #emberLogo {
        float: right !important;
    }

    .notification {
        display: none;
        float: right;
        margin-right: 10px;
    }

.popupOuter {
    margin: 0 auto;
    position: relative;
    width: 150px;
}

    .popupInner {
        background-color: #f28f27;
        border-radius: 15px;
        left: 0;
        padding: 2px 10px;
        position: absolute;
        top: 0;
        width: 150px;
        z-index: 99;
    }


#editor {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 20px;
}

#content {
    display: none !important;
}
