{% extends "base.html" %}

{% block headImport %}
    <link rel="stylesheet" type="text/css" href="/static/css/create.css" media="screen" />
{% endblock %}

{% block content %}
    {% if error %}
        {{ error }}
    {% endif %}

    {% if message %}
        {{ message }}
    {% endif %}

    <div id="create">
        <div id="createInner">
        <form action="/" method="post">
            {% csrf_token %}
            {{ newNote.as_p }}
            <input type="submit" value="create" />
        </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% if username %}
        <div id="myLinks">
            <a href="/mySnippets">my snippets</a>
            <a href="/myLinks">my links</a>
            <a href="/myGroups"> my groups</a>
        </div>
    {% endif %}

    <div id="notice">
        Have you found any bugs? Please <a href="https://bitbucket.org/tgrosinger/emberurl/issues/new">let me know</a>.
    </div>
{% endblock %}

{% block tailImport %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/create.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
