{% extends "base.html" %}

{% block title %}{{ block.super }} - Group Administration{% endblock %}

{% block headImport %}
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css" media="screen" />
{% endblock %}

{% block content %}
    {% if group.name %}
        <h2>{{ group.name }} - Admin</h2>
    {% else %}
        <h2>Group - Admin</h2>
    {% endif %}

    {% if error %}
        {{ error }}
    {% endif %}

    {% if message %}
        {{ message }}
    {% endif %}

    {% if currentMembers %}
        <h3>Existing Group Members </h3>
        {% for user in currentMembers %}
            {{ user.user }} - {{ user.rank }}
        {% endfor %}
    {% endif %}

    <h3>Add User to Group</h3>
    <form action="/group/{{ group.name }}/" method="post">
        {% csrf_token %}
        {{ newMember.as_p }}
        <input type="submit" value="add" />
    </form>
{% endblock %}