{% extends "base.html" %}

{% block content %}
    {% if error %}
        {{ error }}
    {% endif %}

    {% if loginForm %}
    <div class="left">
        <h2>existing account</h2>
        <form action="/login" method="post">
            {% csrf_token %}
            {{ loginForm.as_p }}
            <input type="submit" value="login" />
        </form>
    </div>
    {% endif %}

    {% if registerForm %}
    <div class="right">
        <h2>new account</h2>
        <form action="/register" method="post">
            {% csrf_token %}
            {{ registerForm.as_p }}
            <input type="submit" value="sign up" />
        </form>
    </div>
    {% endif %}
{% endblock %}