{% extends "base.html" %}

{% block headImport %}
    <link rel="stylesheet" type="text/css" href="/static/css/myPage.css" media="screen" />
{% endblock %}

{% block content %}
    {% if error %}
        {{ error }}
    {% endif %}

    {% if message %}
        {{ message }}
    {% endif %}

    {% if page == 'snippet' %}
        <h2>your snippets</h2>
        <ul>
        {% for snip in snippets %}
            <li>
                <span class="delete" id="{{ snip.address }}">&times;</span>
                <a href="/{{ snip.address }}">{{ snip.title }}</a> --
                <a href="/{{ snip.address }}/admin">admin</a>
            </li>
        {% endfor %}
        </ul>
    {% elif page == 'link' %}
        <h2>your links</h2>
        <ul>
        {% for link in links %}
            <li>
                <span class="delete" id="{{ link.address }}">X</span>
                <a href="/{{ link.address }}">{{ link.address }}</a> --
                <a href="/{{ link.address }}/admin">admin</a>
            </li>
        {% endfor %}
        </ul>
    {% elif page == 'group' %}
        <h2>your groups </h2>
    {% endif %}
{% endblock %}

{% block tailImport %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <script>
        window.onload = function() {
            $(".delete").on("click", function() {
                var line = $(this);
                $.ajax({
                    type: "POST",
                    url: "/api/" + line.attr("id") +"/delete/",
                    data: {
                        apikey: "{{apikey}}"
                    }
                }).done(function(html) {
                    if(html.indexOf("note deleted") != -1) {
                        line.parent().slideUp();
                    } else {
                        alert(html);
                    }
                });
            });
        }
    </script>
{% endblock %}
