{% extends "base.html" %}

{% block title %}{{ block.super }} - Note Administration{% endblock %}

{% block headImport %}
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css" media="screen" />
{% endblock %}

{% block content %}
    {% if note.title %}
        <h2>{{ note.title }} - admin</h2>
    {% else %}
        <h2>snippet - admin</h2>
    {% endif %}

    {% if error %}
        {{ error }}
    {% endif %}

    {% if message %}
        {{ message }}
    {% endif %}

    {% if currentGroups %}
        <h3>existing group permissions </h3>
        {% for permGroup in currentGroups %}
            <div class="perm">
                <div class="deletePerm" id="{{ permGroup.group.name}}">&times;</div> <a href="/group/{{ permGroup.group.name }}">{{ permGroup.group.name }}</a> -
                {% for perm in permGroup.permissions %}
                    {{ perm }}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

<h3>add new group permission</h3>
    <p>Type the name of a group you have admin permissions on, or create a new one by by typing a unique name</p>
    <p>Using 'public' as the group name will allow anyone to have the specified permission level</p>
    <form action="/{{ note.address }}/admin" method="post">
        {% csrf_token %}
        {{ newPermission.as_p }}
        <input type="submit" value="assign" />
    </form>

    {% if note.doctype == 'S' %}
        <h3>set syntax highlighting</h3>
        <p>sorted by Tony's preference</p>
        <select id="langSelect">
            <option>plain text</option>
            <option>python</option>
            <option>php</option>
            <option>json</option>
            <option>java</option>
            <option>javascript</option>
            <option>html</option>
            <option>c or c++</option>
            <option>ruby</option>
            <option>xml</option>
            <option>css</option>
        </select>
    {% endif %}

    {% block tailImport %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script>
            window.onload = function() {
                {% if note.language %}
                    $("#langSelect").val("{{note.language}}");
                {% endif %}

                $('#langSelect').change(function() {
                    $.ajax({
                        type: "POST",
                        url: "/api/{{note.address}}/lang/",
                        data: {
                            language: $("#langSelect option:selected").text(),
                            apikey: "{{apikey}}"
                        }
                    }).done(function( html ) {
                        if(html.indexOf("updated") != -1) {
                            //$(".notification").show().delay(800).fadeOut(300);
                            console.log("Language Updated");
                        } else {
                            alert(html);
                        }
                    });
                });

                $('.deletePerm').on('click', function() {
                    var id = $(this).attr('id')
                    $.ajax({
                        type: "POST",
                        url: "/api/{{note.address}}/deleteGroupPerm/",
                        data: {
                            groupName: id,
                            apikey: "{{apikey}}"
                        }
                    }).done(function( html ) {
                        if(html.indexOf("updated") != -1) {
                            $('#' + id).parent().slideUp();
                        } else {
                            alert(html);
                        }
                    });

                });
            };
        </script>
    {% endblock %}
{% endblock %}
