{% extends "base.html" %}

{% block content %}
    {% if error %}
        {{ error }}
    {% endif %}

    {% if loginForm %}
    <div class="left">
        <h2>existing account</h2>
        <form action="/oauth/authorize" method="post">
            {% csrf_token %}
            <input type="hidden" name="callback" value="{{ callback }}">
            {{ loginForm.as_p }}
            <input type="submit" value="allow" />
        </form>
    </div>
    {% else %}
        <p>A site is requesting permission to use information from your account</p>
        <a href="/oauth/authorize?callback={{ callback }}&amp;accepted=True">Allow</a>
        <a href="/oauth/authorize?callback={{ callback }}&amp;accepted=False">Decline</a>
    {% endif %}
{% endblock %}