{% extends "base.html" %}

{% block title %}{{ block.super }} - New User Signup {% endblock %}

{% block content %}
    <h2>register</h2>

    {% if error %}
        {{ error }}
    {% endif %}

    <form action="/register" method="post">
        {% csrf_token %}
        {{ registrationForm.as_p }}
        <input type="submit" value="sign up" />
    </form>
{% endblock %}