{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} - Display Snipet{% endblock %}

{% block headImport %}
    <link rel="stylesheet" type="text/css" href="/static/css/snippet.css" media="screen" />
{% endblock %}

{% block header %}{% endblock %}

{% block snippetspecial %}
    <div id="header-snippet">
        <div id="title">
            <a href="/"><img id="emberLogo" src="/static/img/ember.png"></a>
            {% if note.title %}
                <!--h2>{{ note.title }}</h2-->
                <input type="text" id="titleTextbox" value="{{ note.title }}" />
            {% endif %}

        </div>

        <div id="update">
            <div id="updateNotification" class="notification">Saved</div>
            <button id="save">Save</button>
        </div>
    </div>

    <div class="popupOuter">
        <div id="saveTip" class="popupInner">
            press ctrl+s to save
        </div>
    </div>

    <pre id="editor">{{ note.body }}</pre>
{% endblock %}

{% block tailImport %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/ace/theme-monokai.js" type="text/javascript" charset="utf-8"></script>

    {% if note.language == "python" %}
        <script src="/static/ace/mode-python.js" type="text/javascript" charset="utf-8"></script>
    {% elif note.language == "php" %}
        <script src="/static/ace/mode-php.js" type="text/javascript" charset="utf-8"></script>
    {% elif note.language == "json" %}
        <script src="/static/ace/mode-json.js" type="text/javascript" charset="utf-8"></script>
    {% elif note.language == "java" %}
        <script src="/static/ace/mode-java.js" type="text/javascript" charset="utf-8"></script>
    {% elif note.language == "javascript" %}
        <script src="/static/ace/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
    {% elif note.language == "html" %}
        <script src="/static/ace/mode-html.js" type="text/javascript" charset="utf-8"></script>
    {% elif note.language == "c or c++" %}
        <script src="/static/ace/mode-c_cpp.js" type="text/javascript" charset="utf-8"></script>
    {% elif note.language == "ruby" %}
        <script src="/static/ace/mode-ruby.js" type="text/javascript" charset="utf-8"></script>
    {% elif note.language == "xml" %}
        <script src="/static/ace/mode-xml.js" type="text/javascript" charset="utf-8"></script>
    {% elif note.language == "css" %}
        <script src="/static/ace/mode-css.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}

    <script>
        var editor;
        window.onload = function() {
            editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.renderer.setShowPrintMargin(false);
            editor.session.setTabSize(4);

            $('.popupInner').delay(3000).fadeOut()

            {% if note.language == "python" %}
                var PythonMode = require("ace/mode/python").Mode;
                editor.getSession().setMode(new PythonMode());
            {% elif note.language == "php" %}
                var PhpMode = require("ace/mode/php").Mode;
                editor.getSession().setMode(new PhpMode());
            {% elif note.language == "json" %}
                var JSONMode = require("ace/mode/json").Mode;
                editor.getSession().setMode(new JSONMode());
            {% elif note.language == "java" %}
                var JavaMode = require("ace/mode/java").Mode;
                editor.getSession().setMode(new JavaMode());
            {% elif note.language == "javascript" %}
                var JavaScriptMode = require("ace/mode/javascript").Mode;
                editor.getSession().setMode(new JavaScriptMode());
            {% elif note.language == "html" %}
                var HTMLMode = require("ace/mode/html").Mode;
                editor.getSession().setMode(new HTMLMode());
            {% elif note.language == "c or c++" %}
                var cppMode = require("ace/mode/c_cpp").Mode;
                editor.getSession().setMode(new cppMode());
            {% elif note.language == "ruby" %}
                var rubyMode = require("ace/mode/ruby").Mode;
                editor.getSession().setMode(new rubyMode());
            {% elif note.language == "xml" %}
                var XMLMode = require("ace/mode/xml").Mode;
                editor.getSession().setMode(new XMLMode());
            {% elif note.language == "css" %}
                var CSSMode = require("ace/mode/css").Mode;
                editor.getSession().setMode(new CSSMode());
            {% endif %}
        };

        $("#save").on("click", save);

        $("#titleTextbox").on("blur", function() {
            $.ajax({
                type: "POST",
                url: "/api/{{note.address}}/title/",
                data: {
                    title: $(this).val(),
                    apikey: "{{apikey}}"
                }
            }).done(function( html ) {
                if(html.indexOf("updated") != -1) {
                    $(".notification").show().delay(800).fadeOut(300);
                } else {
                    alert(html);
                }
            });
        });

        $(document).keydown(function(e){
            if (e.keyCode==83 && e.ctrlKey) {
                save();
                event.preventDefault();
                return false;
            }
        });

        function save() {
            $.ajax({
                type: "POST",
                url: "/api/{{note.address}}/body/",
                data: {
                    text: editor.getSession().getValue(),
                    apikey: "{{apikey}}"
                }
            }).done(function( html ) {
                if(html.indexOf("updated") != -1) {
                    $(".notification").show().delay(800).fadeOut(300);
                } else {
                    alert(html);
                }
            });
        }
    </script>
{% endblock %}
