body {
    background-color: #2f2f2f;
    font-family: 'Exo', sans-serif;
    font-weight: 200;
}

::selection {
    background: #222;
    color: #fff;
}

a:link,
a:visited,
a:active {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #f28f27;
    text-decoration: underline;
}

#header {
    width: 540px;
    margin: 0 auto;
}

    #emberLogo {
        height: 64px;
        float: left;
        width: 50px;
    }

    h1 {
        font-family: 'Exo', sans-serif;
        font-weight: 900;
        float: left;
        margin: 28px 0 0 0;
        text-shadow: 0 0 5px rgba(255, 185, 81, 0.5);
    }

    #loginbox {
        color: #999;
        float: right;
        margin: 45px 0 0 0;
    }

#content {
    background: #f28f27;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0,0,0,.5),
                0 0 35px rgba(0,0,0,.5);
    clear: both;
    margin: 0 auto 20px;
    padding: 20px;
    width: 500px;
}