body {
    overflow: hidden;
}

button {
    display: none;
}

h2 {
    text-align: right;
    margin: 28px 5px 0 0;
    text-shadow: 0 0 5px rgba(255, 185, 81, 0.5);
    float: right;
}

#titleTextbox {
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    float: left;
    margin: 28px 10px 0 0;
    text-shadow: 0 0 5px rgba(255, 185, 81, 0.5);
    background-color: #2f2f2f;
    border: none;
    font-size: 16pt;
    text-align: right;
}

#titleTextbox:hover {
    background-color: #444444;
}

#titleTextbox:focus {
    background-color: #444444;
    outline: none;
}

#emberLogo {
    float: right !important;
}

#editor {
    margin: 0;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}

.notification {
    display: none;
    float: right;
    margin-right: 10px;
}

#content {
    display: none !important;
}

#header-snippet {
    float: right;
    z-index: 98;
    position: absolute;
    top: 0;
    right: 20px;
}

.popupOuter{
    position: relative;
    width: 150px;
    margin: 0 auto;
}

.popupInner{
    position: absolute;
    width: 150px;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #f28f27;
    padding: 2px 10px;
    border-radius: 15px;
}